<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My.CoachManager.Presentation.Prism.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My.CoachManager.Presentation.Prism.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>

    <!-- WCF -->
    <add key="WCFUserName" value="" />
    <add key="WCFUserPassword" value="" />

    <!-- Connection -->
    <add key="WindowsAuthentication" value="true" />
  </appSettings>

  <applicationSettings>
    <My.CoachManager.Presentation.Prism.Wpf.Properties.Settings>
      <setting name="ClubName" serializeAs="String">
        <value>US Beaumont</value>
      </setting>
      <setting name="ClubLogo" serializeAs="String">
        <value>../Images/beaumont.png</value>
      </setting>
    </My.CoachManager.Presentation.Prism.Wpf.Properties.Settings>
  </applicationSettings>

  <!-- Services -->
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="thrownExceptions" type="My.CoachManager.Services.Core.Behaviors.ThrownExceptionsElement, My.CoachManager.Services.Core, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>

    <bindings>
      <basicHttpBinding>
        <binding name="CoachManagerHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="00:10:05" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62863/Services/PersonService.svc" binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="PersonServiceReference.IPersonService" name="BasicHttpBinding_IPersonService" />
      <endpoint address="http://localhost:62863/Services/CategoryService.svc" binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="CategoryServiceReference.ICategoryService" name="BasicHttpBinding_ICategoryService" />
      <endpoint address="http://localhost:62863/Services/SeasonService.svc" binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="SeasonServiceReference.ISeasonService" name="BasicHttpBinding_ISeasonService" />
      <endpoint address="http://localhost:62863/Services/UserService.svc" binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:62863/Services/RosterService.svc" binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="RosterServiceReference.IRosterService" name="BasicHttpBinding_IRosterService" />
      <endpoint address="http://localhost:62863/Services/TrainingService.svc" binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="TrainingServiceReference.ITrainingService" name="BasicHttpBinding_ITrainingService" />
      <endpoint address="http://localhost:62863/Services/AddressService.svc" binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="AddressServiceReference.IAddressService" name="BasicHttpBinding_IAddressService" />
      <endpoint address="http://localhost:62863/Services/PositionService.svc" binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="PositionServiceReference.IPositionService" name="BasicHttpBinding_IPositionService" />
    </client>

    <behaviors>

      <endpointBehaviors>
        <behavior name="">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <thrownExceptions enabled="true" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="thrownExceptions">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="2147483647" maxConcurrentInstances="100" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <thrownExceptions enabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.3.0" newVersion="5.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Configuration" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <My.CoachManager.Presentation.Prism.Wpf.Properties.Settings>
      <setting name="DefaultAccent" serializeAs="String">
        <value>gold</value>
      </setting>
      <setting name="DefaultTheme" serializeAs="String">
        <value>dark</value>
      </setting>
      <setting name="RosterId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DefaultMenu" serializeAs="String">
        <value>red</value>
      </setting>
    </My.CoachManager.Presentation.Prism.Wpf.Properties.Settings>
  </userSettings>
</configuration>