<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdminService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62863/Services/AdminService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
        contract="AdminServiceReference.IAdminService" name="BasicHttpBinding_IAdminService" />
    </client>
  </system.serviceModel>
</configuration>