<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IRosterService" />
        <binding name="BasicHttpBinding_ICategoryService" />
        <binding name="BasicHttpBinding_IPersonService" />
        <binding name="BasicHttpBinding_IPositionService" />
        <binding name="BasicHttpBinding_ISeasonService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62863/Services/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:62863/Services/RosterService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRosterService"
        contract="RosterServiceReference.IRosterService" name="BasicHttpBinding_IRosterService" />
      <endpoint address="http://localhost:62863/Services/CategoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryService"
        contract="CategoryServiceReference.ICategoryService" name="BasicHttpBinding_ICategoryService" />
      <endpoint address="http://localhost:62863/Services/PersonService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonService"
        contract="PersonServiceReference.IPersonService" name="BasicHttpBinding_IPersonService" />
      <endpoint address="http://localhost:62863/Services/PositionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPositionService"
        contract="PositionServiceReference.IPositionService" name="BasicHttpBinding_IPositionService" />
      <endpoint address="http://localhost:62863/Services/SeasonService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeasonService"
        contract="SeasonServiceReference.ISeasonService" name="BasicHttpBinding_ISeasonService" />
    </client>
  </system.serviceModel>
</configuration>