<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdminService" />
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IRosterService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62863/Services/AdminService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
        contract="AdminServiceReference.IAdminService" name="BasicHttpBinding_IAdminService" />
      <endpoint address="http://localhost:62863/Services/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:62863/Services/RosterService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRosterService"
        contract="RosterServiceReference.IRosterService" name="BasicHttpBinding_IRosterService" />
    </client>
  </system.serviceModel>
</configuration>