<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My.CoachManager.Presentation.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My.CoachManager.Presentation.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="Server" value="http://localhost:49301/" />
    <add key="WindowsAuthentication" value="true" />
    <add key="ItemsPerPageList" value="5,10,20,30,50,100" />
  </appSettings>
  
  <applicationSettings>
    <My.CoachManager.Presentation.Wpf.Properties.Settings>
      <setting name="ClubName" serializeAs="String">
        <value>US Beaumont</value>
      </setting>
      <setting name="ClubLogo" serializeAs="String">
        <value>pack://application:,,,/My.CoachManager.Presentation.Wpf.Resources;component/Pictures/beaumont.png</value>
      </setting>
      <setting name="DefaultCountry" serializeAs="String">
        <value>France</value>
      </setting>
      <setting name="ItemsPerPageList" serializeAs="String">
        <value>0,5,10,20,30,50,100</value>
      </setting>
      <setting name="ItemsPerPage" serializeAs="String">
        <value>10</value>
      </setting>
    </My.CoachManager.Presentation.Wpf.Properties.Settings>
  </applicationSettings>

  <userSettings>
    <My.CoachManager.Presentation.Wpf.Properties.Settings>
      <setting name="DefaultTheme" serializeAs="String">
        <value>dark</value>
      </setting>
      <setting name="RosterId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DefaultSecondaryAccent" serializeAs="String">
        <value>red</value>
      </setting>
      <setting name="DefaultTrainingStartTime" serializeAs="String">
        <value>17:30:00</value>
      </setting>
      <setting name="DefaultTrainingDuration" serializeAs="String">
        <value>01:30:00</value>
      </setting>
      <setting name="DefaultAccent" serializeAs="String">
        <value>blue</value>
      </setting>
    </My.CoachManager.Presentation.Wpf.Properties.Settings>
  </userSettings>

  <modules>
    <module assemblyFile="My.CoachManager.Presentation.Wpf.Modules.About.dll" moduleType="My.CoachManager.Presentation.Wpf.Modules.About.AboutModule, My.CoachManager.Presentation.Wpf.Modules.About, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AboutModule" startupLoaded="True" />
    <module assemblyFile="My.CoachManager.Presentation.Wpf.Modules.Settings.dll" moduleType="My.CoachManager.Presentation.Wpf.Modules.Settings.SettingsModule, My.CoachManager.Presentation.Wpf.Modules.Settings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SettingsModule" startupLoaded="True" />
    <module assemblyFile="My.CoachManager.Presentation.Wpf.Modules.Home.dll" moduleType="My.CoachManager.Presentation.Wpf.Modules.Home.HomeModule, My.CoachManager.Presentation.Wpf.Modules.Home, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="HomeModule" startupLoaded="True" />
    <module assemblyFile="My.CoachManager.Presentation.Wpf.Modules.Roster.dll" moduleType="My.CoachManager.Presentation.Wpf.Modules.Roster.RosterModule, My.CoachManager.Presentation.Wpf.Modules.Roster, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="RosterModule" startupLoaded="True" />
    <module assemblyFile="My.CoachManager.Presentation.Wpf.Modules.User.dll" moduleType="My.CoachManager.Presentation.Wpf.Modules.User.UserModule, My.CoachManager.Presentation.Wpf.Modules.User, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UserModule" startupLoaded="True" />
    <module assemblyFile="My.CoachManager.Presentation.Wpf.Modules.Admin.dll" moduleType="My.CoachManager.Presentation.Wpf.Modules.Admin.AdminModule, My.CoachManager.Presentation.Wpf.Modules.Admin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AdminModule" startupLoaded="True" />
    <module assemblyFile="My.CoachManager.Presentation.Wpf.Modules.Training.dll" moduleType="My.CoachManager.Presentation.Wpf.Modules.Training.TrainingModule, My.CoachManager.Presentation.Wpf.Modules.Training, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TrainingModule" startupLoaded="True" />
  </modules>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.13.0" newVersion="5.8.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.0.1367" newVersion="7.2.0.1367" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.0.1367" newVersion="7.2.0.1367" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>