<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <containers>
      <container name="RootContainer">
        <extension type="Interception" />

        <!-- ******************* "Root" container: application services mappings ******************* -->

        <!-- START : Players Application Service -->
        <register type="My.CoachManager.Application.Services.Admin.ICategoryAppService, My.CoachManager.Application.Services"
                  mapTo="My.CoachManager.Application.Services.Admin.CategoryAppService, My.CoachManager.Application.Services">
          <lifetime type="resolve" />
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="My.CoachManager.CrossCutting.Unity.Behaviors.DebugBehavior, My.CoachManager.CrossCutting.Unity" />
          <policyInjection />
        </register>
        <register type="My.CoachManager.Application.Services.Admin.IPositionAppService, My.CoachManager.Application.Services"
                  mapTo="My.CoachManager.Application.Services.Admin.PositionAppService, My.CoachManager.Application.Services">
          <lifetime type="resolve" />
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="My.CoachManager.CrossCutting.Unity.Behaviors.DebugBehavior, My.CoachManager.CrossCutting.Unity" />
          <policyInjection />
        </register>
        <register type="My.CoachManager.Application.Services.Admin.ISeasonAppService, My.CoachManager.Application.Services"
                  mapTo="My.CoachManager.Application.Services.Admin.SeasonAppService, My.CoachManager.Application.Services">
          <lifetime type="resolve" />
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="My.CoachManager.CrossCutting.Unity.Behaviors.DebugBehavior, My.CoachManager.CrossCutting.Unity" />
          <policyInjection />
        </register>
        <register type="My.CoachManager.Application.Services.Admin.IPlayerAppService, My.CoachManager.Application.Services"
                  mapTo="My.CoachManager.Application.Services.Admin.PlayerAppService, My.CoachManager.Application.Services">
          <lifetime type="resolve" />
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="My.CoachManager.CrossCutting.Unity.Behaviors.DebugBehavior, My.CoachManager.CrossCutting.Unity" />
          <policyInjection />
        </register>
        <register type="My.CoachManager.Application.Services.Users.IUserAppService, My.CoachManager.Application.Services"
                  mapTo="My.CoachManager.Application.Services.Users.UserAppService, My.CoachManager.Application.Services">
          <lifetime type="resolve" />
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="My.CoachManager.CrossCutting.Unity.Behaviors.DebugBehavior, My.CoachManager.CrossCutting.Unity" />
          <policyInjection />
        </register>
      </container>
    </containers>
  </unity>
</configuration>