<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <containers>
      <container name="RootContainer">
        <extension type="Interception" />

        <!-- ******************* "Root" container: domain ******************* -->

        <!-- AdministrationModule -->
        <register type="My.CoachManager.Domain.AdministrationModule.Service.ICategoryDomainService, My.CoachManager.Domain"
            mapTo="My.CoachManager.Domain.AdministrationModule.Service.CategoryDomainService, My.CoachManager.Domain">
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="My.CoachManager.CrossCutting.Unity.Behaviors.DebugBehavior, My.CoachManager.CrossCutting.Unity" />
          <lifetime type="resolve" />
        </register>
        <register type="My.CoachManager.Domain.AdministrationModule.Service.IPositionDomainService, My.CoachManager.Domain"
           mapTo="My.CoachManager.Domain.AdministrationModule.Service.PositionDomainService, My.CoachManager.Domain">
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="My.CoachManager.CrossCutting.Unity.Behaviors.DebugBehavior, My.CoachManager.CrossCutting.Unity" />
          <lifetime type="resolve" />
        </register>
        <register type="My.CoachManager.Domain.AdministrationModule.Service.ISeasonDomainService, My.CoachManager.Domain"
   mapTo="My.CoachManager.Domain.AdministrationModule.Service.SeasonDomainService, My.CoachManager.Domain">
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="My.CoachManager.CrossCutting.Unity.Behaviors.DebugBehavior, My.CoachManager.CrossCutting.Unity" />
          <lifetime type="resolve" />
        </register>

        <!-- PersonModule -->
        <register type="My.CoachManager.Domain.PersonModule.Service.IPlayerDomainService, My.CoachManager.Domain"
   mapTo="My.CoachManager.Domain.PersonModule.Service.PlayerDomainService, My.CoachManager.Domain">
          <interceptor type="InterfaceInterceptor" />
          <interceptionBehavior type="My.CoachManager.CrossCutting.Unity.Behaviors.DebugBehavior, My.CoachManager.CrossCutting.Unity" />
          <lifetime type="resolve" />
        </register>
      </container>
    </containers>
  </unity>
</configuration>