<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <containers>
      <container name="RootContainer">
        <extension type="Interception" />

        <!-- "Root" container: Data - Repository -->
        <register type="My.CoachManager.Domain.Core.IGenericRepository`1, My.CoachManager.Domain.Core"
                  mapTo="My.CoachManager.Infrastructure.Data.Core.GenericRepository`1, My.CoachManager.Infrastructure.Data.Core">
          <lifetime type="resolve" />
        </register>

        <!-- AdministrationModule-->
        <register type="My.CoachManager.Domain.AdministrationModule.Aggregate.IAddressRepository, My.CoachManager.Domain"
                  mapTo="My.CoachManager.Infrastructure.Data.Repositories.AddressRepository, My.CoachManager.Infrastructure.Data">
          <lifetime type="resolve" />
        </register>

        <register type="My.CoachManager.Domain.AdministrationModule.Aggregate.ICategoryRepository, My.CoachManager.Domain"
                  mapTo="My.CoachManager.Infrastructure.Data.Repositories.CategoryRepository, My.CoachManager.Infrastructure.Data">
          <lifetime type="resolve" />
        </register>

        <register type="My.CoachManager.Domain.AdministrationModule.Aggregate.IPositionRepository, My.CoachManager.Domain"
                  mapTo="My.CoachManager.Infrastructure.Data.Repositories.PositionRepository, My.CoachManager.Infrastructure.Data">
          <lifetime type="resolve" />
        </register>

        <register type="My.CoachManager.Domain.AdministrationModule.Aggregate.ISeasonRepository, My.CoachManager.Domain"
                  mapTo="My.CoachManager.Infrastructure.Data.Repositories.SeasonRepository, My.CoachManager.Infrastructure.Data">
          <lifetime type="resolve" />
        </register>

        <!-- PersonModule-->
        <register type="My.CoachManager.Domain.PersonModule.Aggregate.IPlayerRepository, My.CoachManager.Domain"
                  mapTo="My.CoachManager.Infrastructure.Data.Repositories.PlayerRepository, My.CoachManager.Infrastructure.Data">
          <lifetime type="resolve" />
        </register>

        <register type="My.CoachManager.Domain.PersonModule.Aggregate.ICountryRepository, My.CoachManager.Domain"
                  mapTo="My.CoachManager.Infrastructure.Data.Repositories.CountryRepository, My.CoachManager.Infrastructure.Data">
          <lifetime type="resolve" />
        </register>

        <!-- UserModule-->
        <register type="My.CoachManager.Domain.UserModule.Aggregate.IUserRepository, My.CoachManager.Domain"
                  mapTo="My.CoachManager.Infrastructure.Data.Repositories.UserRepository, My.CoachManager.Infrastructure.Data">
          <lifetime type="resolve" />
        </register>

        <!-- CompetitionModule -->
        <register type="My.CoachManager.Domain.CompetitionModule.Aggregate.IClubRepository, My.CoachManager.Domain"
                  mapTo="My.CoachManager.Infrastructure.Data.Repositories.ClubRepository, My.CoachManager.Infrastructure.Data">
          <lifetime type="resolve" />
        </register>

        <!-- RosterModule -->
        <register type="My.CoachManager.Domain.RosterModule.Aggregate.IRosterRepository, My.CoachManager.Domain"
                  mapTo="My.CoachManager.Infrastructure.Data.Repositories.RosterRepository, My.CoachManager.Infrastructure.Data">
          <lifetime type="resolve" />
        </register>
        <register type="My.CoachManager.Domain.RosterModule.Aggregate.ISquadRepository, My.CoachManager.Domain"
                  mapTo="My.CoachManager.Infrastructure.Data.Repositories.SquadRepository, My.CoachManager.Infrastructure.Data">
          <lifetime type="resolve" />
        </register>

        <!-- ******************* "Root" container: CrossCutting ******************* -->
        <register type="My.CoachManager.CrossCutting.Logging.ILogger, My.CoachManager.CrossCutting.Logging"
                  mapTo="My.CoachManager.CrossCutting.Logging.Supervision.Logger, My.CoachManager.CrossCutting.Logging.Supervision">
          <lifetime type="singleton" />
        </register>
      </container>
    </containers>
  </unity>
</configuration>