<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="CoachManager" connectionString="Data Source=WKS0000604321;Initial Catalog=CoachManager;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <globalization uiCulture="fr-FR" culture="fr-FR" />

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="60" />
  </system.web>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="CoachManagerHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00" closeTimeout="00:10:05" />
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="My.CoachManager.Services.Wcf.AdminService" behaviorConfiguration="thrownExceptions">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="My.CoachManager.Services.Wcf.Interfaces.IAdminService" />
      </service>
      <service name="My.CoachManager.Services.Wcf.UserService" behaviorConfiguration="thrownExceptions">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="My.CoachManager.Services.Wcf.Interfaces.IUserService" />
      </service>
      <service name="My.CoachManager.Services.Wcf.RosterService" behaviorConfiguration="thrownExceptions">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CoachManagerHttpBinding" contract="My.CoachManager.Services.Wcf.Interfaces.IRosterService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="thrownExceptions">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="2147483647" maxConcurrentInstances="100" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <thrownExceptions enabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="NoExceptionThrown">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="thrownExceptions" type="My.CoachManager.Services.Core.Behaviors.ThrownExceptionsElement, My.CoachManager.Services.Core" />
      </behaviorExtensions>
    </extensions>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>