<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- See http://nlog-project.org/wiki/Configuration_file for information on customizing logging rules and outputs. -->

  <variable name="logDirectory" value="${basedir}/logs" />

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- the targets to write to -->
  <targets>
    
    <target xsi:type="File" name="All"
            fileName="${logDirectory}/${shortdate}.log"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="All" minlevel="Trace" writeTo="All" />
  </rules>
</nlog>